*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: Cambria;
}


/* Starting CSS */
#page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: gray;
}

#box {
    overflow: hidden;
    width: 80%;
    height: 80%;
    background: lavender;
    border-radius: 20px;
}

#box_top {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: rgb(156, 156, 224);
}

.heading {
    display: flex;
    align-items: center;
    gap: 5px;
}

.board {
    color: red;
    background-color: white;
    border-radius: 16px;
    font-weight: 900;
    font-size: 25px;
    padding: 14px 14px;
}
